<!--home intro -->
<div class="gray">
    <div class="container">
        <div class="intro_wrapper">
            <h1>{{ site.data.about.header.title }}
            </h1>
        </div>
    </div>
</div>
<!--end -->

<!--about me -->
<div class="">
    <div class="container row_wrapper">
        <div class="row">
            <div class="col-md-6">
                <p>{{ site.data.about.header.p1 }}
                </p>
                <p>{{ site.data.about.header.p2 }}</p>
                <h3><a href="{{ "/resume" | relative_url }}">resume.</a> </h3>
                <h3><a href="{{ "/blog" | relative_url }}">blog.</a> </h3>
                <h3><a href="{{ "/portfolio" | relative_url }}">portfolio.</a> </h3>
            </div>

        <div class="col-md-6">
            <div class="pic_container"><img src="{{ "/assets/images/about_image_main.jpg" | relative_url }}">
            </div>

        </div>
    </div>
    </div>
</div>

<!--quote -->
<div class="gray">
    <div class="container row_wrapper">
        <div class="">
            <p>{{ site.data.about.header.quote }}
            </p>
        </div>
    </div>
</div>

<!-- images -->
<div class="">
    <div class="container row_wrapper">
        <h2 class="padding_bottom_md">Photos</h2>
        <div class="row">
            <div class="col-md-3 padding_bottom_md">
                <div class="pic_container"><img src="{{ "/assets/images/about_image_1.jpg" | relative_url }}">
                </div>
            </div>
            <div class="col-md-3 padding_bottom_md">
                <div class="pic_container"><img src="{{ "/assets/images/about_image_2.jpg" | relative_url }}">
                </div>
            </div>
            <div class="col-md-3 padding_bottom_md ">
                <div class="pic_container"><img src="{{ "/assets/images/about_image_3.jpg" | relative_url }}">
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic_container"><img src="{{ "/assets/images/about_image_4.jpg" | relative_url }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 padding_bottom_md">
                <div class="pic_container"><img src="{{ "/assets/images/about_image_5.jpg" | relative_url }}">
                </div>
            </div>
            <div class="col-md-3 padding_bottom_md">
                <div class="pic_container"><img src="{{ "/assets/images/about_image_6.jpg" | relative_url }}">
                </div>
            </div>
            <div class="col-md-3 padding_bottom_md">
                <div class="pic_container"><img src="{{ "/assets/images/about_image_7.jpg" | relative_url }}">
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic_container"><img src="{{ "/assets/images/about_image_8.jpg" | relative_url }}">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end-->

<!-- about this site -->
<div class="gray">
    <div class="container row_wrapper">
        <!--<h2 class="padding_bottom_md">pages.</h2>-->
        <div class="col-md-6">
            <h3><a href="{{ " /" | relative_url }}">home.</a> </h3>
            <h3><a href="{{ " /about" | relative_url }}">about.</a> </h3>
            <h3><a href="{{ " /resume" | relative_url }}">resume.</a> </h3>
            <h3><a href="{{ " /blog" | relative_url }}">blog.</a> </h3>
            <h3><a href="{{ " /portfolio" | relative_url }}">portfolio.</a> </h3>
        </div>
    </div>
</div>
<!--end-->