<!--home intro -->
<div class="gray">
    <div class="container">
        <div class="intro_wrapper">
            <h1>{{ site.data.about.header.title }}
            </h1>
        </div>
    </div>
</div>
<!--end -->

<!--about me -->
<div class="">
    <div class="container row_wrapper">
        <div class="row">
            <div class="col-md-6">
                <p>{{ site.data.about.header.p1 }}
                </p>
                <p>{{ site.data.about.header.p2 }}</p>
                <h3>{{site.data.home.about_this_site.item2}}</h3>
                <h3>{{site.data.home.about_this_site.item3}}</h3>
                <h3>{{site.data.home.about_this_site.item4}}</h3>
            </div>

        <div class="col-md-6">
            <div class="pic_container"><img src="{{ "/assets/images/about_image_main.jpg" | relative_url }}">
            </div>

        </div>
    </div>
    </div>
</div>

<!--quote -->
<div class="gray">
    <div class="container row_wrapper">
        <div class="">
            <p>{{ site.data.about.header.quote }}
            </p>
        </div>
    </div>
</div>

<!-- images -->
<div class="">
    <div class="container row_wrapper">
        <h2 class="padding_bottom_md">Photos</h2>
        <div class="row">
            <div class="col-md-3 padding_bottom_md">
                <div class="pic_container"><img src="{{ "/assets/images/about_image_1.jpg" | relative_url }}">
                </div>
            </div>
            <div class="col-md-3 padding_bottom_md">
                <div class="pic_container"><img src="{{ "/assets/images/about_image_1.jpg" | relative_url }}">
                </div>
            </div>
            <div class="col-md-3 padding_bottom_md ">
                <div class="pic_container"><img src="{{ "/assets/images/about_image_1.jpg" | relative_url }}">
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic_container"><img src="{{ "/assets/images/about_image_1.jpg" | relative_url }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 padding_bottom_md">
                <div class="pic_container"><img src="{{ "/assets/images/about_image_1.jpg" | relative_url }}">
                </div>
            </div>
            <div class="col-md-3 padding_bottom_md">
                <div class="pic_container"><img src="{{ "/assets/images/about_image_1.jpg" | relative_url }}">
                </div>
            </div>
            <div class="col-md-3 padding_bottom_md">
                <div class="pic_container"><img src="{{ "/assets/images/about_image_1.jpg" | relative_url }}">
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic_container"><img src="{{ "/assets/images/about_image_1.jpg" | relative_url }}">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end-->

<!-- about this site -->
<div class="gray">
    <div class="container row_wrapper">
        <!--<h2 class="padding_bottom_md">pages.</h2>-->
        <div class="col-md-6">
            <h3>{{site.data.home.about_this_site.item5}}</h3>
            <h3>{{site.data.home.about_this_site.item1}}</h3>
            <h3>{{site.data.home.about_this_site.item2}}</h3>
            <h3>{{site.data.home.about_this_site.item3}}</h3>
            <h3>{{site.data.home.about_this_site.item4}}</h3>
        </div>
    </div>
</div>
<!--end-->