<!--home intro -->
<div class="gray">
    <div class="container">
        <div class="intro_wrapper">
            <h1>{{ site.data.home.header.title }}
            </h1>
        </div>
    </div>
</div>
<!--end -->



<!-- working on -->
<div class="">
    <div class="container row_wrapper">
        <h2 class="padding_bottom_md">{{site.data.home.working_on.title}}</h2>
        <div class="row">
            <div class="col-md-6 padding_bottom_md">
                <ul>
                    <li>{{site.data.home.working_on.item1}}</li>
                    <li>{{site.data.home.working_on.item2}}</li>
                    <li>{{site.data.home.working_on.item3}}</li>
                    <li>{{site.data.home.working_on.item4}}</li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="pic_container"><img src="/assets/images/image.jpg"></div>
            </div>
        </div>
    </div>
</div>
<!-- end-->


<!-- about this site -->
<div class="gray">
    <div class="container row_wrapper">
        <h2 class="padding_bottom_md">{{site.data.home.about_this_site.title}}</h2>
        <div class="row">
            <div class="col-md-6">
                <p>{{site.data.home.about_this_site.subtitle}}</p>
            </div>
            <div class="col-md-6">
                <h3>{{site.data.home.about_this_site.item1}}</h3>
                <h3>{{site.data.home.about_this_site.item2}}</h3>
                <h3>{{site.data.home.about_this_site.item3}}</h3>
                <h3>{{site.data.home.about_this_site.item4}}</h3>
            </div>
        </div>
    </div>
</div>
<!--end-->

<!-- what i do -->
<div class="">
    <div class="container  row_wrapper">
        <h2 class="padding_bottom_md">{{site.data.home.what_i_do.title}}</h2>
        <div class="row">
            <div class="col-md-4">

                <h3>{{site.data.home.what_i_do.item1}}</h3>
                <p>{{site.data.home.what_i_do.item1sub}}</p>
    
            </div>
            <div class="col-md-4">
      
                <h3>{{site.data.home.what_i_do.item2}}</h3>
                <p>{{site.data.home.what_i_do.item2sub}}</p>
       
            </div>
            <div class="col-md-4">

                <h3>{{site.data.home.what_i_do.item3}}</h3>
                <p>{{site.data.home.what_i_do.item3sub}}</p>
      
            </div>
        </div>

    </div>
</div>

<!-- end -->

<!-- meta -->
<div class="gray">
    <div class="container row_wrapper">
        <h2 class="padding_bottom_md">{{site.data.home.meta.title}}</h2>
        <div class="row">
            <div class="col-md-6">
                <p>{{site.data.home.meta.subtitle}}</p>
            </div>
            <div class="col-md-6">
                <h3>{{site.data.home.meta.item1}}</h3>
                <h3>{{site.data.home.meta.item2}}</h3>
                <h3>{{site.data.home.meta.item3}}</h3>
                <h3>{{site.data.home.meta.item4}}</h3>
            </div>
        </div>

    </div>
</div>

<!--end-->