<div class="page_wrapper">
    <!-- Start Page Intro -->
    <div class="intro_section">
        <h2>portfolio.</h2>
        <p>intro description for portfolio.</p>
    </div>
    <!--End Page Intro -->
    <!-- Job 1 -->
    <div class="position_wrapper">
        <div class="position_company_wrapper">
            {{ site.data.positions.ecto.company }}
        </div>
        <div class="position_title_wrapper">
            {{ site.data.positions.ecto.title }}
        </div>
        <div class="position_dates_wrapper">
            {{ site.data.positions.ecto.dates }}
        </div>
        <div class="position_description_wrapper">
            {{ site.data.positions.ecto.description }}
        </div>
    </div>
    <!-- Job 2 -->
    <div class="position_wrapper">
        <div class="position_company_wrapper">
            {{ site.data.positions.bnr.company }}
        </div>
        <div class="position_title_wrapper">
            {{ site.data.positions.bnr.title }}
        </div>
        <div class="position_dates_wrapper">
            {{ site.data.positions.bnr.dates }}
        </div>
        <div class="position_description_wrapper">
            {{ site.data.positions.bnr.description }}
        </div>
    </div>




    <!-- End Position -->
</div>