<!-- intro -->
<div class="gray">
    <div class="container">
        <div class="intro_wrapper">
            <h1>resume.
            </h1>
        </div>
    </div>
</div>
<!--end -->
<!-- Job 1 -->
<div class="container row_wrapper">
    <div class="position_wrapper">
        <div class="position_company_wrapper">
            {{ site.data.positions.ecto.company }}
        </div>
        <div class="position_title_wrapper">
            {{ site.data.positions.ecto.title }}
        </div>
        <div class="position_dates_wrapper">
            {{ site.data.positions.ecto.dates }}
        </div>
        <div class="position_description_wrapper">
            {{ site.data.positions.ecto.description }}
        </div>
    </div>
    <!-- Job 2 -->
    <div class="position_wrapper">
        <div class="position_company_wrapper">
            {{ site.data.positions.bnr.company }}
        </div>
        <div class="position_title_wrapper">
            {{ site.data.positions.bnr.title }}
        </div>
        <div class="position_dates_wrapper">
            {{ site.data.positions.bnr.dates }}
        </div>
        <div class="position_description_wrapper">
            {{ site.data.positions.bnr.description }}
        </div>
    </div>
    <!-- Job 3 -->
    <div class="position_wrapper">
        <div class="position_company_wrapper">
            {{ site.data.positions.konstru.company }}
        </div>
        <div class="position_title_wrapper">
            {{ site.data.positions.konstru.title }}
        </div>
        <div class="position_dates_wrapper">
            {{ site.data.positions.konstru.dates }}
        </div>
        <div class="position_description_wrapper">
            {{ site.data.positions.konstru.description }}
        </div>
    </div>
    <!-- Job 4 -->
    <div class="position_wrapper">
        <div class="position_company_wrapper">
            {{ site.data.positions.machfreelance.company }}
        </div>
        <div class="position_title_wrapper">
            {{ site.data.positions.machfreelance.title }}
        </div>
        <div class="position_dates_wrapper">
            {{ site.data.positions.machfreelance.dates }}
        </div>
        <div class="position_description_wrapper">
            {{ site.data.positions.machfreelance.description }}
        </div>
    </div>
    <!-- Job 5 -->
    <div class="position_wrapper">
        <div class="position_company_wrapper">
            {{ site.data.positions.pindrop.company }}
        </div>
        <div class="position_title_wrapper">
            {{ site.data.positions.pindrop.title }}
        </div>
        <div class="position_dates_wrapper">
            {{ site.data.positions.pindrop.dates }}
        </div>
        <div class="position_description_wrapper">
            {{ site.data.positions.pindrop.description }}
        </div>
    </div>
    <!-- Job 6 -->
    <div class="position_wrapper">
        <div class="position_company_wrapper">
            {{ site.data.positions.tig.company }}
        </div>
        <div class="position_title_wrapper">
            {{ site.data.positions.tig.title }}
        </div>
        <div class="position_dates_wrapper">
            {{ site.data.positions.tig.dates }}
        </div>
        <div class="position_description_wrapper">
            {{ site.data.positions.tig.description }}
        </div>
    </div>
    <!-- Job 7 -->
    <div class="position_wrapper">
        <div class="position_company_wrapper">
            {{ site.data.positions.disys.company }}
        </div>
        <div class="position_title_wrapper">
            {{ site.data.positions.disys.title }}
        </div>
        <div class="position_dates_wrapper">
            {{ site.data.positions.disys.dates }}
        </div>
        <div class="position_description_wrapper">
            {{ site.data.positions.disys.description }}
        </div>
    </div>

    <!-- End Position -->
</div>

<!-- education -->
<div class="gray">
    <div class="container row_wrapper">


        <h2 class="padding_bottom_md">Education</h2>
        <!---->
        <div class="position_wrapper">
            <div class="position_company_wrapper">
                {{ site.data.positions.uga.company }}
            </div>
            <div class="position_title_wrapper">
                {{ site.data.positions.uga.title }}
            </div>
            <div class="position_dates_wrapper">
                {{ site.data.positions.uga.dates }}
            </div>
            <div class="position_description_wrapper">
                {{ site.data.positions.uga.description }}
            </div>
        </div>
        <!---->
        <!---->
        <div class="position_wrapper">
            <div class="position_company_wrapper">
                {{ site.data.positions.ga.company }}
            </div>
            <div class="position_title_wrapper">
                {{ site.data.positions.ga.title }}
            </div>
            <div class="position_dates_wrapper">
                {{ site.data.positions.ga.dates }}
            </div>
            <div class="position_description_wrapper">
                {{ site.data.positions.ga.description }}
            </div>
        </div>
        <!---->
        <!---->
        <div class="position_wrapper">
            <div class="position_company_wrapper">
                {{ site.data.positions.react.company }}
            </div>
            <div class="position_title_wrapper">
                {{ site.data.positions.react.title }}
            </div>
            <div class="position_dates_wrapper">
                {{ site.data.positions.react.dates }}
            </div>
            <div class="position_description_wrapper">
                {{ site.data.positions.react.description }}
            </div>
        </div>
        <!---->
        <!---->
        <div class="position_wrapper">
            <div class="position_company_wrapper">
                {{ site.data.positions.pragmatic.company }}
            </div>
            <div class="position_title_wrapper">
                {{ site.data.positions.pragmatic.title }}
            </div>
            <div class="position_dates_wrapper">
                {{ site.data.positions.pragmatic.dates }}
            </div>
            <div class="position_description_wrapper">
                {{ site.data.positions.pragmatic.description }}
            </div>
        </div>
        <!---->
        <!---->
        <div class="position_wrapper">
            <div class="position_company_wrapper">
                {{ site.data.positions.yoga.company }}
            </div>
            <div class="position_title_wrapper">
                {{ site.data.positions.yoga.title }}
            </div>
            <div class="position_dates_wrapper">
                {{ site.data.positions.yoga.dates }}
            </div>
            <div class="position_description_wrapper">
                {{ site.data.positions.yoga.description }}
            </div>
        </div>
        <!---->

    </div>
</div>
<!-- end-->