<hr>

<h3 style="margin-top:0px;">2021 Season</h3>

<table style="width:100%;background-color:#dddddd;">
  <tr style="font-weight:bold;">
    <td>POTW</td>
    <td>SPREAD</td>

    <td>RESULT</td>
  </tr>
  <!--000-->
  <tr style="background-color:#FFF;">
    <td>Oklahoma</td>
    <td>-28</td>
    <td style="color:red;">LOSER</td>
  </tr>
  <!--001-->
  <tr style="background-color:#FFF;">
    <td>Notre Dame</td>
    <td>+6</td>
    <td style="color:red;">LOSER</td>
  </tr>
  <!--002-->
  <tr style="background-color:#FFF;">
    <td>Georgia</td>
    <td>-16</td>
    <td style="color:green;">WINNER</td>
  </tr>
  <!--003-->
  <tr style="background-color:#FFF;">
    <td>Ole Miss</td>
    <td>-5</td>
    <td style="color:red;">LOSER</td>
  </tr>
  <!--004-->
  <tr style="background-color:#FFF;">
    <td>Iowa</td>
    <td>-11.5</td>
    <td style="color:red;">LOSER</td>
  </tr>
    <!--005-->
  <tr style="background-color:#FFF;">
    <td>Purdue/Wisc</td>
    <td>U40.5</td>
    <td style="color:red;">LOSER</td>
  </tr>
  <!--006-->
<tr style="background-color:#FFF;">
  <td>ULM</td>
  <td>+27</td>
  <td style="color:red;">LOSER</td>
</tr>
<!--007-->
<tr style="background-color:#FFF;">
<td>Kentucky</td>
<td>+1</td>
<td style="color:red;">LOSER</td>
</tr>
<!--008-->
<tr style="background-color:#FFF;">
<td>Penn State</td>
<td>+2</td>
<td style="color:red;">LOSER</td>
</tr>
</table>
<br>
<hr>
