---
# Only the main Sass file needs front matter (the dashes are enough)
---

// @import
//   "minima/skins/{{ site.minima.skin | default: 'classic' }}",
//   "minima/initialize";





// Position

.position_wrapper{

}

.position_company_wrapper {
  text-decoration: underline;
  font-size: 18px;
  color: #000;
}
.position_dates_wrapper {}
.position_title_wrapper {
  font-weight: bold;
  
}
.position_description_wrapper {
  margin-top:5px;
  margin-bottom:5px;
  text-align: justify;
}


// Header Text

h1 {
  font-size: 28px;
}


// Manu Nav Bar

.navbar-brand {
  font-size: 28px;
  margin-left:0;
}

.nav_wrapper {
padding: 0,5px,0,5px;

}

// .mr-left {
//     margin-left:0
//   }

// .navbar {
// padding: 0;

// }

// li {
//   .nav-link {
//     text-align: right;
//
//   }
// }
